body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
font-size: 50;


}
.orange-color{
   color: orange;

}
section{
    display: flex;
  
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(orange, Tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
